{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Структура</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">АСУП</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/client/tasks/">Проекты</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/client/structures/">Структура<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/client/employees/">Сотрудники</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/client/systems/">Системы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/client/positions/">Должности</a>
            </li>
        </ul>
        <a class="nav-link text-light" href="/client/structures/{{ userid }}">{{ username }}</a>
        <a class="nav-link text-light" href="/client/logout/">Выход</a>
    </div>
</nav>
<main role="main" class="container-fluid" style="padding-top: 4.5rem">
    <a class="btn btn-primary" href="/client/structures/{{ parent_id }}">Наверх</a>
    <form>
        <div class="form-group">
            <label for="inputname">{% if is_group %}Наименование{% else %}Полное имя{% endif %}</label>
            <input {% if not adminmode and pk != userid %}disabled{% endif %} class="form-control input-lg"
                   id="inputname" type="text"
                   name="name" value="{{ name }}">
        </div>
        {% if not is_group %}
            <div class="form-group">
                <label for="inputshortname">Короткое имя</label>
                <input {% if not adminmode and pk != userid %}disabled{% endif %} class="form-control input-lg"
                       id="inputshortname"
                       type="text" name="short_name"
                       value="{{ short_name }}">
            </div>
            <div class="form-group">
                <label for="inputposition">Должность</label>
                <select {% if not adminmode %}disabled{% endif %} class="form-control input-lg" id="inputposition"
                        name="position">
                    {% for position in positions %}
                        <option value="{{ position.id }}"
                                {% if position.id == position_id %}selected{% endif %}>{{ position.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="inputparent">Подразделение</label>
                <select {% if not adminmode %}disabled{% endif %} class="form-control input-lg" id="inputparent"
                        name="parent">
                    {% for parent in parents %}
                        <option value="{{ parent.id }}"
                                {% if parent_id == parent.id %}selected{% endif %}>{{ parent.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="inputisadmin">Администратор</label>
                <input {% if not adminmode or userid == pk %}disabled{% endif %} class="form-control" id="inputisadmin" type="checkbox"
                       name="isadmin" {% if is_admin %}
                       checked{% endif %}>
            </div>
            <div class="form-group">
                <label for="inputlogin">Логин</label>
                <input {% if not adminmode and pk != userid %}disabled{% endif %} class="form-control" id="inputlogin"
                       type="text"
                       name="login" value={{ login }}>
            </div>
        {% endif %}
        {% if adminmode or userid == pk %}
            <button type="submit" name="save" class="btn btn-primary">Сохранить</button>
            {% if not is_group %}
                <button type="submit" name="reset_password" class="btn btn-warning">Сбросить пароль</button>
            {% endif %}
        {% endif %}
        {% if adminmode and pk != userid %}
            <button type="submit" name="delete" class="btn btn-danger">Удалить</button>
        {% endif %}
    </form>
    {% if is_group %}
        <h1 class="h1">Подразделения</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Название</th>
            </tr>
            </thead>
            <tbody>
            {% for structure in structures %}
                <tr>
                    <th scope="row">{{ structure.id }}</th>
                    <td><a href="/client/structures/{{ structure.id }}"
                           {% if structure.is_group %}class="font-weight-bold" {% endif %}> {{ structure.name }}</a>
                    </td>
                </tr>
            {% endfor %}
            {% if adminmode %}
                <tr>
                    <td colspan="4" class="text-center">
                        <div class="row justify-content-center">
                            <div class="col-sm-2"><a href="/client/structures/add_group/{{ id }}">Новое
                                подразделение</a>
                            </div>
                            <div class="col-sm-2"><a href="/client/structures/add_leaf/{{ id }}">Новый сотрудник</a>
                            </div>
                        </div>
                </tr>
            {% endif %}
            </tbody>
        </table>
    {% else %}
        <h1 class="h1">Задания</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Название</th>
                <th scope="col">Создатель</th>
                <th scope="col">Дата начала</th>
                <th scope="col">Статус</th>
            </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <th scope="row">{{ task.id }}</th>
                    <td><a href="/client/tasks/{{ task.id }}">{{ task.name }}</a></td>
                    <td><a href="/client/structures/{{ task.creator_id }}">{{ task.creator }}</a></td>
                    <td>{{ task.start }}</td>
                    <td>{% if task.status == 'NEW' %}<span style="color: orange; font-weight: bold">Новая</span>
                    {% elif task.status == 'PRO' %}<span style="color: green; font-weight: bold">Выполняется</span>
                    {% elif task.status == 'COM' %}<span style="color: blue; font-weight: bold">Завершена</span>
                    {% elif task.status == 'REJ' %}<span style="color: gray; font-weight: bold">Отклонена</span>
                    {% elif task.status == 'REV' %}
                        <span style="color: orange; font-weight: bold">Требуется доработка</span>
                    {% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
</main>
</body>
</html>